@import 'bulma/css/bulma.css';
@import 'vars';

html {
  background-color: $dark;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.section-pad {
  padding-bottom: 6rem !important;
}

.br-top-8 {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}
.br-bot-8 {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.degree-1 {
  background-image: url('../img/education/ucsc-campus.webp');
  background-position: center top;
  background-size: 100% auto;
  min-height: 33vh;
}

.degree-2 {
  background-image: url('../img/education/sjsu-mba.webp');
  background-position: center top;
  background-size: 100% auto;
  min-height: 33vh;
}

.default-overlay {
  background-color: $overlay !important;
}
.overlay-darker {
  background-color: $overlay-darker !important;
}

.my-system-overlay {
  background-color: $overlay !important;
  border-radius: 8px !important;
}
.my-interest-overlay {
  background-color: $overlay-darker !important;
  padding: 2rem !important;
  /*border-radius: 8px !important;*/
}

.overlay-style {
  top: 20%;
  width: 80%;
  border: 1px solid #00D1B2;
  borderRadius: 4px
}

.my-system-gradient {
  background-color: radial-gradient(circle, rgba(219,124,2,1) 0%, rgba(114,69,11,1) 23%, rgba(219,124,2,1) 56%, rgba(20,20,20,1) 91%);
}

.dark-gradient {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(51,51,51,1) 100%);
}

.my-system-text {
  color: white;
  text-shadow: 2px 2px #220000;
}

.tile {
  border: 2px solid transparent;
}

.tile-hover:hover {
  border-radius: 6px;
  border: 2px solid $primary;
  cursor: pointer !important;
}

.fancy-title {
  line-height: 0.5;
  text-align: center;
  color: $dark !important;
  margin: 4rem 0.5rem !important;
}
.fancy-title-light {
  line-height: 0.5;
  text-align: center;
  color: white !important;
}
.fancy-title span {
  display: inline-block;
  position: relative;  
}
.fancy-title span:before,
.fancy-title span:after {
  /*@extend .auto-margins-y;*/
  content: "";
  position: absolute;
  height: 5px;
  border-radius: 4px !important;
  border-bottom: 4px solid $dark;
  border-top: 4px solid $dark;
  top: 50% !important;
  width: 10rem;
}
.fancy-title-light span:before,
.fancy-title-light span:after {
  /*@extend .auto-margins-y;*/
  content: "";
  position: absolute;
  height: 5px;
  border-radius: 4px !important;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
  top: 50% !important;
  width: 10rem;
}

.fancy-title span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy-title span:after {
  left: 100%;
  margin-left: 15px;
}

.anim-fade-in {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.anim-color-pulse {
  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running; 
}

@keyframes stretch {
  0% {
    transform: scale(.5);
    border-radius: 100%;
  }

  100% {
    transform: scale(1);
  }
}

.anim-grow {
  animation: grow 1.25s ease-in-out;
}

@keyframes grow {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1.0);
  }
}

.inset-0 {
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.title.is-hero {
  font-size: 12.5vmin;
}
.title.is-interests {
  font-size: 3vmin;
}

.company-text {
  color: #1a3bff !important;
  text-shadow: 2px 2px #aaaaff !important;
}

.text-shadow-3d {
  /* text-shadow: 2px 2px 4px #957dad; */

  text-shadow: 1px 1px 1px #957dad,
             1px 2px 1px #957dad,
             1px 3px 1px #957dad,
             1px 4px 1px #957dad,
             1px 5px 1px #957dad,
             1px 6px 1px #957dad,
             1px 10px 5px rgba(16, 16, 16, 0.5),
             1px 15px 10px rgba(16, 16, 16, 0.4),
             1px 20px 30px rgba(16, 16, 16, 0.3),
             1px 25px 50px rgba(16, 16, 16, 0.2);

}

.dashed-title {
  @extend .text-shadow-3d;
  margin-left: 2rem;
  margin-right: 2rem;
}

/*.dashed-title:before {
  content: "";
  color: black;
  display: block;
  width: 120px;
  height: 2px;
  background: #fff;
  right: 100%;
  top: 50%;
  position: absolute;
}

.dashed-title:after {
  content: "";
  color: black;
  display: block;
  width: 120px;
  height: 2px;
  background: #fff;
  left: 100%;
  top: 50%;
  position: absolute;
}
*/

.job-title {
  color: #fab03c;
}

////////////////////////////////////////////////////

.is-absolute {
  position: absolute !important;
}

.is-fullwidth {
  width: 100% !important;
}

.is-fullheight {
  height: 100vh !important;
}

.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.auto-margins-y {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.auto-margins-x {
  margin-left: auto !important;
  margin-right: auto !important;
}

.cursor-pt {
  cursor: pointer !important;  
}

.career-section { 
  background: white;
}

.career-link {
  /* @extend .auto-margins-x; */
  max-width: 50px;
  max-height: 50px;
  cursor: pointer;
}

.parallax-root {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.parallax-scroll {
  position: absolute;
  bottom: 5em;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  font-weight: 500;
}

.parallax-container {
  position: relative;
  width: 25em;
}


////////////////////////////////////////////////////

.swiper {
  //width: 50vw;
  position: relative;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background: transparent !important;
  /*background-color: $dark;*/
}

.swiper-pagination {
  background-color: rgba(100,100,100,.25);
  border-radius: 6px;
  border: 1px solid $primary;
  display: block;
  width: 25vw !important;
  position: relative !important;
  margin: auto;
}


#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#particles-swiper {
  /*position: absolute;
  top: 0;
  left: 0;*/
  z-index: 1;
}

.swiper-button-disabled {
  display:none;   
}
.swiper-button-next, .swiper-button-prev {
  @extend .anim-color-pulse;
  color: $primary !important;
  margin-left: .25rem;
  margin-right: .25rem;
}

/* un-comment to customize swiper next/prev icons
.swiper-button-next:after {
  //content: '\21D2' !important;
  border: 2px solid $primary; 
  border-radius: 6px;
  padding: .25rem;
}
.swiper-button-prev:after {
  //content: '\21D0' !important;
  border: 2px solid $primary; 
  border-radius: 6px;
  padding: .25rem;
}
*/

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-interests {
  margin: 0 !important;
  height: 75vh !important;
  /* height: 75vh !important; */
}

.my-interests-bkgd {
  background-color: #282c34;
}

.has-text-centered {
  text-align: center !important;
  text-align: -moz-center !important;
}
