//@import "../utilities/mixins"
//@import "bulma/sass/utilities/mixins"

$column-gap: 0.75rem !default;

.columns {
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
}

.columns:last-child {
  margin-bottom: -.75rem;
}

.columns:not(:last-child) {
  margin-bottom: .75rem;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem
}

.columns.is-mobile>.column.is-1 {
  flex: none;
  width: 8.33333337%
}

.columns.is-mobile>.column.is-2 {
  flex: none;
  width: 16.66666674%
}

.columns.is-mobile>.column.is-3 {
  flex: none;
  width: 25%
}

.columns.is-mobile>.column.is-4 {
  flex: none;
  width: 33.33333337%
}

.columns.is-mobile>.column.is-5 {
  flex: none;
  width: 41.66666674%
}

.columns.is-mobile>.column.is-6 {
  flex: none;
  width: 50%
}

.columns.is-mobile>.column.is-7 {
  flex: none;
  width: 58.33333337%
}

.columns.is-mobile>.column.is-8 {
  flex: none;
  width: 66.66666674%
}

.columns.is-mobile>.column.is-9 {
  flex: none;
  width: 75%
}

.columns.is-mobile>.column.is-10 {
  flex: none;
  width: 83.33333337%
}

.columns.is-mobile>.column.is-11 {
  flex: none;
  width: 91.66666674%
}

.columns.is-mobile>.column.is-12 {
  flex: none;
  width: 100%
}



@media print,screen and (min-width: 769px) {

  .column.is-0,.column.is-0-tablet {
      flex: none;
      width: 0
  }

  .column.is-1,.column.is-1-tablet {
      flex: none;
      width: 8.33333337%
  }

  .column.is-2,.column.is-2-tablet {
      flex: none;
      width: 16.66666674%
  }

  .column.is-3,.column.is-3-tablet {
      flex: none;
      width: 25%
  }

  .column.is-4,.column.is-4-tablet {
      flex: none;
      width: 33.33333337%
  }

  .column.is-5,.column.is-5-tablet {
      flex: none;
      width: 41.66666674%
  }

  .column.is-6,.column.is-6-tablet {
      flex: none;
      width: 50%
  }

  .column.is-7,.column.is-7-tablet {
      flex: none;
      width: 58.33333337%
  }

  .column.is-8,.column.is-8-tablet {
      flex: none;
      width: 66.66666674%
  }

  .column.is-9,.column.is-9-tablet {
      flex: none;
      width: 75%
  }

  .column.is-10,.column.is-10-tablet {
      flex: none;
      width: 83.33333337%
  }

  .column.is-11,.column.is-11-tablet {
      flex: none;
      width: 91.66666674%
  }

  .column.is-12,.column.is-12-tablet {
      flex: none;
      width: 100%
  }

}



@media screen and (min-width: 1024px) {

  .column.is-0-desktop {
      flex: none;
      width: 0
  }

  .column.is-1-desktop {
      flex: none;
      width: 8.33333337%
  }

  .column.is-2-desktop {
      flex: none;
      width: 16.66666674%
  }

  .column.is-3-desktop {
      flex: none;
      width: 25%
  }

  .column.is-4-desktop {
      flex: none;
      width: 33.33333337%
  }

  .column.is-5-desktop {
      flex: none;
      width: 41.66666674%
  }

  .column.is-6-desktop {
      flex: none;
      width: 50%
  }

  .column.is-7-desktop {
      flex: none;
      width: 58.33333337%
  }

  .column.is-8-desktop {
      flex: none;
      width: 66.66666674%
  }

  .column.is-9-desktop {
      flex: none;
      width: 75%
  }

  .column.is-10-desktop {
      flex: none;
      width: 83.33333337%
  }

  .column.is-11-desktop {
      flex: none;
      width: 91.66666674%
  }

  .column.is-12-desktop {
      flex: none;
      width: 100%
  }
}