@import 'vars';

$radius: 8vw;

.soccer-scene {
 perspective: 80vw;
 transform-style: preserve-3d;
 position: absolute;
 width: 16vw;
 height: 16vw;
 top: 2vw;
 left: 40%;
 border-radius: 50%;
 background: radial-gradient(circle farthest-corner at 40% 40%, transparent 50%, $primary-dark 80%);
}
.sphere {
 transform-style: preserve-3d;
 position: absolute;
 animation: rotate 20s infinite linear;
 width: 100%;
 height: 100%;
 transform-origin: 50% 50%;
 top: 0;
 left: 0;
}
.soccer-scene::before {
 content: '';
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0%;
 left: 0%;
 background: radial-gradient(circle farthest-corner at 33% 33%, #eed 0%, $primary 80%);
 border-radius: 50%;
 transform: scale(1.15) translateZ(-12.8vw);
}
.hemisphere {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 transform-style: preserve-3d;
 transform-origin: 50% 50%;
 transform: rotateX(90deg);
}
.hemisphere:nth-child(2) {
 transform: rotateX(-90deg);
}
.ball-face {
 position: absolute;
 width: 8vw;
 height: 8vw;
 background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 48%, $primary-light 49%, $primary-light 50%, transparent 51%);
 transform-style: preserve-3d;
 transform-origin: 50% 0;
 top: 50%;
 left: calc($radius/2);
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
}
.ball-face::before, .ball-face::after {
 content: '';
 position: absolute;
 border-radius: 50%;
 box-sizing: border-box;
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
}
.ball-face::before {
 width: 50%;
 height: 50%;
 top: 25%;
 left: 25%;
 border: 2px solid #333;
 background: rgba(255, 255, 255, .3);
 transform: translateZ(0.36vw);
}
.ball-face::after {
 width: 20%;
 height: 20%;
 top: 40%;
 left: 40%;
 background: rgba(0, 0, 0, .2);
 transform: translateZ(0.56vw);
}
.ball-face:nth-child(1) {
 transform: translateZ(-8.32vw) rotateZ(36deg) translateY(-1.36vw) rotateX(143deg);
}
.ball-face:nth-child(2) {
 transform: translateZ(-8.32vw) rotateZ(108deg) translateY(-1.36vw) rotateX(143deg);
}
.ball-face:nth-child(3) {
 transform: translateZ(-8.32vw) rotateZ(180deg) translateY(-1.36vw) rotateX(143deg);
}
.ball-face:nth-child(4) {
 transform: translateZ(-8.32vw) rotateZ(252deg) translateY(-1.36vw) rotateX(143deg);
}
.ball-face:nth-child(5) {
 transform: translateZ(-8.32vw) rotateZ(-36deg) translateY(-1.36vw) rotateX(143deg);
}
.ball-face:nth-child(6) {
 transform: translateZ(-5.36vw) rotateZ(36deg) translateY(-6.64vw) rotateX(100deg);
}
.ball-face:nth-child(7) {
 transform: translateZ(-5.36vw) rotateZ(108deg) translateY(-6.64vw) rotateX(100deg);
}
.ball-face:nth-child(8) {
 transform: translateZ(-5.36vw) rotateZ(180deg) translateY(-6.64vw) rotateX(100deg);
}
.ball-face:nth-child(9) {
 transform: translateZ(-5.36vw) rotateZ(252deg) translateY(-6.64vw) rotateX(100deg);
}
.ball-face:nth-child(10) {
 transform: translateZ(-5.36vw) rotateZ(-36deg) translateY(-6.64vw) rotateX(100deg);
}
.ball-face:nth-child(11) {
 transform: translateZ(-5.36vw) rotateZ(36deg) translateY(-6.64vw) rotateX(100deg);
}
@keyframes rotate {
 0% {
   transform: scale(1.1) translateZ(-8.8vw) rotateZ(25deg) rotateX(20deg) rotateY(0deg);
}
 50% {
   transform: scale(1.1) translateZ(-8.8vw) rotateZ(-25deg) rotateX(-20deg) rotateY(180deg);
}
 100% {
   transform: scale(1.1) translateZ(-8.8vw) rotateZ(25deg) rotateX(20deg) rotateY(360deg);
}
}
