// shared project vars-
$primary: 				#00D1B2;
$primary-darker:  #00C7D1;
$primary-dark:  	#00868C;
$primary-lighter: #00D199;
$primary-light: 	#00ad8b;
$dark: 						#363636;
$warning: 				#FFDD57;
$overlay: 				rgba(0,0,0,.45);
$overlay-darker: 	rgba(50,50,50,.65);
$fullhd:					1400px;
