.blogTileBg {
	background: linear-gradient(180deg, rgba(20,14,113,1) 0%, rgba(39,31,152,1) 50%, rgba(20,14,113,1) 100%);
}

.miniblog1Img { 
	background-image: url("/img/neural-network-llm.png"); background-size: cover; background-position: center; background-repeat:no-repeat;
}

.miniblog2Img {
	background-image: url("/img/merkle-tree.png"); background-size: cover; background-position: center; background-repeat:no-repeat;
}

.miniblog3Img { 
	background-image: url("/img/particles-js.png"); background-size: cover; background-position: center; background-repeat:no-repeat;
}

.blogTileBorder { 
	border: 1px solid blue;
}

.blogTitleOverlay { 
	background: linear-gradient(180deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.85) 33%, rgba(0,0,0,0.80) 66%, rgba(0,0,0,0.65) 100%);;
	border-radius: 6px;
	width: 100%;
	height: 100%;
	padding: 3.5rem;
	display: flex;
	align-items: center;
}

.blogPageMargins {
	padding: 1rem;
	border: 1px solid white;
}

.blogParagraph {
	font-size: 1.25rem;
	color: white;
}