.blogTileBg {
	background: linear-gradient(180deg, rgba(20,14,113,1) 0%, rgba(39,31,152,1) 50%, rgba(20,14,113,1) 100%);
}

.blog1Img { 
	background-image: url("/img/blog1-fe-libraries.png"); background-size: cover; background-position: center; background-repeat:no-repeat;
}

.blog2Img { 
	background-image: url("/img/internet-computer.png"); background-size: cover; background-position: center; background-repeat:no-repeat;
}

.blog3Img { 
	background-image: url("/img/zkProof.webp"); background-size: cover; background-position: center; background-repeat:no-repeat;
}

.blogTileBorder { 
	border: 1px solid white;
}

.blogTitleOverlay { 
	background-color: rgba(0,0,0,.45);
	border-radius: 6px;
}

.blogPageMargins {
	padding: 1rem;
	border: 1px solid white;
}

.blogParagraph {
	font-size: 1.25rem;
	color: white;
}