@import 'vars';

@import "bulma/sass/base/generic.sass";
@import "bulma/sass/components/card.sass";
@import "bulma/sass/components/level.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/form/shared.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/table.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/layout/_all.sass";
@import "bulma/sass/utilities/_all.sass";

@import "@fortawesome/fontawesome-svg-core/styles.css";
@import '@sweetalert2/theme-dark/dark.scss';

:root {
  background: $primary-bg;
  --xyz-ease: cubic-bezier(.26,2.05,.84,.38);
}

html,
body {
  padding: 0;
  margin: 0;
  color: white;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.navbar {
  background: $dark;
  z-index: 1000 !important;
}

.navbar > .is-active {
  background: rgba(12,12,12,.90);
}

a.navbar-item:hover, div.navbar-item:hover {
  background-color: transparent;
  color: $primary !important;
}

.navbar-burger {
  color: white;
}

a {
  color: lightblue;
}
a:hover {
  color: $primary;
}

.navbar-li-button {
  background-color: transparent;
  border-color: rgb(0, 119, 181);
  color: white;
}
.navbar-li-button:focus, .navbar-li-button:hover {
  outline: none;
  box-shadow: none;
  border-color: rgb(0, 119, 181);
  color: white;
}

.navbar-li-button:hover {
  background-color: rgb(0, 119, 181);
}

* {
  box-sizing: border-box;
}

.grid-col {
  border: 2px solid transparent;
}
.grid-col:hover {
  border: 2px solid $primary;
}

.section-bg {
  background: $section-bg;
}

.section-mg {
  margin: 0 0 1rem 0 !important;
  /*padding-bottom: 1rem !important;*/
}

.blog-bg {
  background: linear-gradient(180deg, rgba(40,37,37,1) 0%, rgba(8,1,1,1) 100%);
  min-height: 100vmin;
}

.blogBannerTile {
  background-image: url("/img/blog1-convert-react-to-next.webp"); background-size: cover; background-position: center; background-repeat:no-repeat;
}

.has-transparent-bg {
  background: transparent !important;
}

.auto-margins-x {
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.section-title {
  width:100%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem;
  color: $primary;
}

.section-title span {
  display: inline-block;
  position: relative;  
}
.section-title span:before,
.section-title span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-radius: 0px !important;
  border-top: 4px solid $dark;
  top: 50% !important;
  width: 5rem;
}

.section-title span:before {
  right: 100%;
  margin-right: 15px;
  border-color: $primary;
}
.section-title span:after {
  left: 100%;
  margin-left: 15px;
  border-color: $primary;
}

/*****************************************************************
Styling for /blog routes:
*****************************************************************/
blockquote {
  background: rgba(10,100,100,.5);
  padding: 1rem;
  border-radius: 6px;
}

blockquoter > p {
  margin: 0;
}

h2, h3 {
  margin-top: 3rem;
  color: $primary;
}

.table {
  background: rgba(10, 100, 100, 0.5);
  border-radius: 2px;
  width: 100%;
}

td {
  color: white;
}

tr > th {
  color: $primary !important;
}

tr > .tableTitle {
  color: $info !important;
}

.neon-sign {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-size: 5.5vw;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
  }

}
/*-- Animation Keyframes --*/
@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}

/*** Blog Swiper ***/

.swiper-pagination-bullet { border: 1px solid #1da1f2;}.swiper-pagination-bullet-active { background:#1da1f2}
img:not([draggable]), embed, object, video {
    max-width: 100%;
    height: auto;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.swiper-container-multirow > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform, height;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 0;
    display: block
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px
}

.swiper-pagination-progress {
    background: rgba(0, 0, 0, .25);
    position: absolute
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    -webkit-transform-origin: right top;
    transform-origin: right top
}

.swiper-container-horizontal > .swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-vertical > .swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-progress.swiper-pagination-white {
    background: rgba(255, 255, 255, .5)
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
    background: #fff
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
    -ms-perspective: 1200px
}

.swiper-container-cube,
.swiper-container-flip {
    overflow: visible
}

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-cube .swiper-slide {
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.swiper-container.one {
    padding-top: 40px;
    text-align: center;
}

.swiper-container.one .swiper-slide {
    padding: 0 43px;
}

.swiper-container {
    width: 100%;
    padding-bottom: 60px;
}

.swiper-slide img {
    display: block;
    margin: auto;
    width: 100%;
}

.swiper-slide {
    width: 390px;
    height: auto;
    padding: 0 15px;
}
.two .swiper-slide {
    //width: 400px;
}
.swiper-slide img {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.swiper-slide .slider-image .preview-icon {
    z-index: -1;
    width: calc(100% - 30px);
}

.swiper-slide.swiper-slide-active .slider-image:hover .preview-icon {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0;
}

.swiper-pagination-bullet {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #ee0f6f;
  border-radius: 10px;
  display: inline-block;
  height: 10px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  width: 26px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #ee0f6f 0%, #f89482 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ee0f6f 0%, #f89482 100%) repeat scroll 0 0;
    border: medium none;
    height: 12px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    width: 12px;
}



/*Carousel Gallery
.carousel-gallery {
  margin: 0;
  padding: 0 30px;
}
.carousel-gallery .swiper-slide a {
  display: block;
  width: 100%;
  height: 400px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, .2);
  -moz-box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, .2);
  box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, .2);
}
.carousel-gallery .swiper-slide a:hover .image .overlay {
  opacity: 0.8;
}
.carousel-gallery .swiper-slide a .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.carousel-gallery .swiper-slide a .image .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, .8);
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.carousel-gallery .swiper-slide a .image .overlay em {
  color: #fff;
  font-size: 26px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
}

.swiper-slide {
  border: 2px solid transparent;
}
.swiper-slide:hover {
  border: 2px solid $primary;
  border-radius: 4px;
}

.carousel-gallery .swiper-pagination {
  position: relative;
  bottom: auto;
  text-align: center;
  margin-top: 25px;
}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet:hover {
  opacity: 0.7;
}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #d63031;
  transform: scale(1.1, 1.1);
}

*/


/*****************************************************************
  Isometric Footer Icons:
 *****************************************************************/
$icon-colors: #00aced, black, #F48024, #712cf9, #e4405f;

.icon-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0.25rem;

  .icon-list__item {
    margin: 0 40px;

    a {
      .icon-box {
        --box-width: 5rem;
        --box-height: 5rem;
        --box-depth: 1rem;

        width: var(--box-width);
        height: var(--box-height);
        position: relative;
        transform-style: preserve-3d;
        transform: rotateX(55deg) rotateZ(45deg);
        transition: 0.5s;

        .box__face {
          position: absolute;
          font-size: 0.625rem;
          font-weight: bold;
          color: white;
          text-align: center;
        }

        .box__face--front,
        .box__face--back {
          width: var(--box-width);
          height: var(--box-height);
          line-height: var(--box-height);
        }

        .box__face--right,
        .box__face--left {
          width: var(--box-depth);
          height: var(--box-height);
          left: calc((var(--box-width) - var(--box-depth)) / 2);
          line-height: var(--box-height);
        }

        .box__face--top,
        .box__face--bottom {
          width: var(--box-width);
          height: var(--box-depth);
          top: calc((var(--box-height) - var(--box-depth)) / 2);
          line-height: var(--box-depth);
        }

        .box__face--front {
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
          transition: 0.5s;

          svg {
            transform: rotate(270deg);
            path {
              transition: 0.5s;
            }
          }
        }

        .box__face--right {
          background: darken(white, 10%);
          transition: 0.5s;
        }

        .box__face--bottom {
          background: darken(white, 30%);
          transition: 0.5s;
        }

        .box__face--back {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          transition: 0.5s;
        }

        .box__face--front {
          transform: rotateY(0deg) translateZ(calc(var(--box-depth) / 2));
        }
        .box__face--back {
          transform: rotateY(180deg) translateZ(calc(var(--box-depth) / 2));
        }

        .box__face--right {
          transform: rotateY(90deg) translateZ(calc(var(--box-width) / 2));
        }
        .box__face--left {
          transform: rotateY(-90deg) translateZ(calc(var(--box-width) / 2));
        }

        .box__face--top {
          transform: rotateX(90deg) translateZ(calc(var(--box-height) / 2));
        }
        .box__face--bottom {
          transform: rotateX(-90deg) translateZ(calc(var(--box-height) / 2));
        }
      }
    }

    &:hover {
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) a {
          .icon-box {
            transform: rotateX(55deg) rotateZ(45deg) translateZ(20px);

            .box__face--back {
              box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.5);
            }
          }

          .box__face--front {
            background: nth($icon-colors, $i);

            svg path {
              fill: white;
            }
          }

          .box__face--right {
            background: darken(nth($icon-colors, $i), 5%);
          }

          .box__face--bottom {
            background: darken(nth($icon-colors, $i), 10%);
          }
        }
      }
    }
  }
}



/*****************************************************************
 *****************************************************************
 *****************************************************************
  Animations:
 *****************************************************************
 ***************************************************************** 
 *****************************************************************/

.blockchain-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
}
#redblocks > * {
  transform: translate3d(160px, -93px, 0);
  animation: moveblocks 4s 1s ease infinite;
}

@keyframes moveblocks {
  0% {
      transform: translate3d(160px, -93px, 0);
  }
  50%,
  100% {
      transform: translate(0);
  }
}

#firstBlock {
  transform: translate3d(160px, -93px, 0);
  animation: firstBlock 4s 1s ease infinite;
}
#blockdis {
  animation: blockdis 4s 1s ease infinite;
}
@keyframes blockdis {
  30% {
      opacity: 1;
  }
  40%, 100% {
      opacity: 0;
      transform: translate3d(-160px, 93px, 0);
  }
}
@keyframes firstBlock {
  0%,
  15% {
      opacity: 0;
  }
  40%,
  100% {
      opacity: 1;
  }
}

@for $i from 1 to 5 {
  #redblocksparticles g:nth-child(#{$i}) polygon {
      opacity: 0.35;
      animation: glow 4s 1s ease infinite;
  }
}
@for $i from 1 to 20 {
  #redblocksparticles g:nth-child(1) g circle:nth-child(#{$i}){
      animation: dots 4s #{1000+$i*50}ms ease infinite;
  }
  #redblocksparticles g:nth-child(2) g circle:nth-child(#{$i}){
      animation: dots 4s #{1000+$i*50}ms ease infinite;
  }
  #redblocksparticles g:nth-child(3) g circle:nth-child(#{$i}){
      animation: dots 4s #{1000+$i*50}ms ease infinite;
  }
  #redblocksparticles g:nth-child(4) g circle:nth-child(#{$i}){
      animation: dots 4s #{1000+$i*50}ms ease infinite;
  }
}
@keyframes glow {
  0%,
  45% {
      opacity: 0;
  }
  60%, 100% {
      opacity: 0.35;
  }
}

@keyframes dots {
  0%,
  35% {
      transform: translate(0);
      opacity: 0;
  }
  60%, 80% {
      transform: translate(55px, -35px);
      opacity: 1;
  }
  100% {
      transform: translate(55px, -35px);
      opacity: 0;
  }
}

@for $i from 1 to 22 {
  #purplebg > :nth-child(#{$i}) {
      animation: up 2s #{$i* 500}ms ease infinite alternate;
  }
}

@keyframes up {
  to {
      transform: translate(0, -25px);
  }
}

@for $i from 1 to 13 {
  #bottomparticles > :nth-child(#{$i}){
      animation: particles 4s #{$i*300}ms ease infinite alternate, p 2s ease infinite alternate;
  }
  #bottomparticles2 > :nth-child(#{$i}){
      animation: particles 4s #{$i*300}ms ease infinite alternate, p 2s ease infinite alternate;
  }
  #redglowparticles > :nth-child(#{$i}){
      animation: particles 4s #{$i*300}ms ease infinite alternate, p 2s ease infinite alternate;
  }

}
@keyframes p {
  85%,
   100% {
      opacity: 0;
  }
}

@keyframes particles {
  0%, 100% {
      transform: translate(0);
  }
  50% {
      transform: translate(10px, 15px);
  }
}

.particlespoly {
  animation: p 2s ease infinite alternate;
}

@for $i from 1 to 4 {
  #d-app g:nth-child(#{$i}){
      animation: updown 2s #{$i*200}ms ease-in-out infinite alternate;
  }
}
@for $i from 1 to 4 {
  #d-apps2 g:nth-child(#{$i}){
      animation: updown 2s #{$i*200}ms ease-in-out infinite alternate;
  }
}
@for $i from 1 to 20 {
  #d-apps2wrapper g:nth-child(3) g > circle:nth-child(#{$i}){
      animation: updown 2s #{$i*50}ms ease infinite alternate;
  }
}
@for $i from 1 to 20 {
  #d-appswrapper g:nth-child(2) g > circle:nth-child(#{$i}){
      animation: updown 2s #{$i*50}ms ease infinite alternate;
  }
}


@keyframes updown {
  100% {
      transform: translate(0, -20px);
  }
}

#Layer_1 > g:nth-child(2) > g:nth-child(18) > g:nth-child(12) {
  animation: arrows 1s ease-in-out infinite alternate, p 2s ease infinite alternate;
}
@keyframes arrows {
  to {
      transform: translate(25px, 25px);
  }
}

#Layer_1 > g:nth-child(2) > g:nth-child(17) > g:nth-child(13) {
  animation: arrows2 1s ease-in-out infinite alternate, p 2s ease infinite alternate;
}
@keyframes arrows2 {
  to {
      transform: translate(-25px, -25px);
  }
}

#Layer_1 > g:nth-child(2) > g:nth-child(17) > g:nth-child(12) {
  animation: arrows 1s ease-in-out infinite alternate, p 2s ease infinite alternate;
}

/*****************************************************************
  Animation: 3D striped cube

$striped-cube-size: 15;
$striped-cube-speed: 7;
$striped-cube-trans: linear;
$striped-cube-hole: #121255;
$striped-cube-start: #D02A41;
$striped-cube-line: #202333;
$striped-cube-ini: from 90deg at;
$striped-cube-end: 0 25%, #fff0 0 100%;
$striped-cube-bg: 
  conic-gradient($striped-cube-ini 97.5% 97.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 95% 95%, $striped-cube-line $striped-cube-end), 
  conic-gradient($striped-cube-ini 92.5% 92.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 90% 90%, $striped-cube-line $striped-cube-end), 
  conic-gradient($striped-cube-ini 87.5% 87.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 85% 85%, $striped-cube-line $striped-cube-end), 
  conic-gradient($striped-cube-ini 82.5% 82.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 80% 80%, $striped-cube-line $striped-cube-end), 
  conic-gradient($striped-cube-ini 77.5% 77.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 75% 75%, $striped-cube-line $striped-cube-end), 
  conic-gradient($striped-cube-ini 72.5% 72.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 70% 70%, $striped-cube-line $striped-cube-end), 
  conic-gradient($striped-cube-ini 67.5% 67.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 65% 65%, $striped-cube-line $striped-cube-end), 
  conic-gradient($striped-cube-ini 62.5% 62.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 60% 60%, $striped-cube-line $striped-cube-end), 
  conic-gradient($striped-cube-ini 57.5% 57.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 55% 55%, $striped-cube-line $striped-cube-end), 
  conic-gradient($striped-cube-ini 52.5% 52.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 50% 50%, $striped-cube-start $striped-cube-end), 
  conic-gradient($striped-cube-ini 47.5% 47.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 45% 45%, $striped-cube-line $striped-cube-end),
  conic-gradient($striped-cube-ini 42.5% 42.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 40% 40%, $striped-cube-line $striped-cube-end),
  conic-gradient($striped-cube-ini 37.5% 37.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 35% 35%, $striped-cube-line $striped-cube-end),
  conic-gradient($striped-cube-ini 32.5% 32.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 30% 30%, $striped-cube-line $striped-cube-end),
  conic-gradient($striped-cube-ini 27.5% 27.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 25% 25%, $striped-cube-line $striped-cube-end),
  conic-gradient($striped-cube-ini 22.5% 22.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 20% 20%, $striped-cube-line $striped-cube-end),
  conic-gradient($striped-cube-ini 17.5% 17.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 15% 15%, $striped-cube-line $striped-cube-end),
  conic-gradient($striped-cube-ini 12.5% 12.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 10% 10%, $striped-cube-line $striped-cube-end),
  conic-gradient($striped-cube-ini 7.5% 7.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 5% 5%, $striped-cube-line $striped-cube-end),
  conic-gradient($striped-cube-ini 2.5% 2.5%, $striped-cube-hole $striped-cube-end), 
  conic-gradient($striped-cube-ini 0% 0%, $striped-cube-start $striped-cube-end);

.striped-cube-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000vmin;
  background: transparent;
}

.cube {
  width: calc($striped-cube-size * 1vmin);
  height:  calc($striped-cube-size * 1vmin);
  background: $striped-cube-bg, $striped-cube-hole;
  background-size: 200% 200%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  transform: rotateX(45deg) rotateZ(45deg) translateZ(calc(calc($striped-cube-size * 1vmin) / 2));
  transform-style: preserve-3d;
  animation: move-top calc($striped-cube-speed * 1s) $striped-cube-trans 0s infinite;

}

.cube::before, .cube::after {
  content: "";
  background: $striped-cube-bg, $striped-cube-hole;
  background-size: 200% 200%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(180deg) rotateY(-90deg) translateY(calc($striped-cube-size * 1vmin));
  transform-origin: right bottom;
  animation: move-side calc($striped-cube-speed * 1s) $striped-cube-trans calc($striped-cube-speed * -0.95s) infinite;
  opacity: 0.65;
} 

.cube::after {
  position: absolute;
  transform: rotate(180deg) rotateY(-90deg) rotateX(-90deg) translateY(calc($striped-cube-size * 1vmin));
  opacity: 0.35;
}

@keyframes move-top {
  100% { background-position: 100% 100%; }
}
@keyframes move-side {
  100% { background-position: 0% 0%; }
}
*****************************************************************/


/*****************************************************************
  Animation: Morhping UI Displays
 *****************************************************************/

.loader {
  position: relative;
  width: 200px;
  height: 200px;
}


/* The dot */
.loader > .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;

  width: 160px;
  height: 100px;
  
  margin-top: -50px;
  margin-left: -80px;

  border-radius: 5px;

  background-color: #D02A41;

  transform-type: preserve-3d;

  animation: dot1 5s cubic-bezier(.55,.3,.24,.99) infinite;
}

.loader > .dot:nth-child(2) {
  z-index: 11;
  
  width: 150px;
  height: 90px;
  
  margin-top: -45px;
  margin-left: -75px;
  
  border-radius: 3px;
  
  background-color: #202333;
  
  animation-name: dot2;
}

.loader > .dot:nth-child(3) {
  z-index: 12;
  
  width: 40px;
  height: 20px;
  
  margin-top: 50px;
  margin-left: -20px;
  
  border-radius: 0 0 5px 5px;
  
  background-color: #303444;
  
  animation-name: dot3;
}

@keyframes dot1 {
  3%, 97% {
    width: 160px;
    height: 100px;

    margin-top: -50px;
    margin-left: -80px;
  }
  30%, 36% {
    width: 80px;
    height: 120px;

    margin-top: -60px;
    margin-left: -40px;
  }
  63%, 69% {
    width: 40px;
    height: 80px;

    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot2 {
  3%, 97% {
    width: 150px;
    height: 90px;

    margin-top: -45px;
    margin-left: -75px;
  }
  30%, 36% {
    width: 70px;
    height: 96px;

    margin-top: -48px;
    margin-left: -35px;
  }
  63%, 69% {
    width: 32px;
    height: 60px;

    margin-top: -30px;
    margin-left: -16px;
  }
}

@keyframes dot3 {
  3%, 97% {
    width: 40px;
    height: 20px;

    margin-top: 50px;
    margin-left: -20px;
  }
  30%, 36% {
    width: 8px;
    height: 8px;

    margin-top: 49px;
    margin-left: -5px;
    
    border-radius: 8px;
  }
  63%, 69% {
    width: 16px;
    height: 4px;

    margin-top: -37px;
    margin-left: -8px;
    
    border-radius: 10px;
  }
}



/*****************************************************************
  Animation: Rubik Cube
 *****************************************************************/

$duration: 4s;
$delays: ();
$variance: 300;
$easing: cubic-bezier(.5, 0, 0, 1);
$gap: 2px;

@for $row from 1 through 3 {
  @for $col from 1 through 3 {
    @for $layer from 1 through 3 {
      $delays: map-merge($delays, ('#{$row}#{$col}#{$layer}': random($variance)));
    }
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
  animation-timing-function: $easing;
}

label, #shadows {
  position: fixed;
  top: 2vmin;
  opacity: 0.5;
}
label {
  left: 6vmin;
  color: white;
  font-weight: bold;
}
#shadows {
  left: 2vmin;
}

#shadows:not(:checked) ~ .cubes {
  --shadow-filter: none;
}

.cubes {
  width: 10vmin;
  height: 10vmin;
  transform: rotateX(60deg) rotateZ(-45deg);
  backface-visibility: visible;
  overflow: visible;
  transform-style: preserve-3d;
  perspective: 9000px;
}

.rubik-cube, .large-shadow {
  height: 10vmin;
  width: 10vmin;
  transform-style: preserve-3d;
  backface-visibility: visible;
  transform-origin: center center -.5vmin;
  position: absolute;
  top: 0;
  left: 0;
  
  > .cube-wrap {
    animation: rubik-cube-anim $duration infinite both;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: visible;
    transform-origin: center center -.5vmin;
    will-change: transform;
    
    @keyframes rubik-cube-anim {
      from, to, 20%, 60% {
        animation-timing-function: step-start;
        transform: none;
      }

      40% {
        transform: rotateY(-1turn);
      }
    }
  }
  
  &[data-cube^="1"] {
    top: calc(-10vmin - #{$gap});
    --color-bg-top: red;
    --color-bg-bottom: #D02A41;
    --color-fl-top: red;
    --color-fl-bottom: #e8203c;
  }
  &[data-cube^="2"] {
    --color-bg-top: #D02A41;
    --color-bg-bottom: #d7102a;
    --color-fl-top: #e8203c;
    --color-fl-bottom: #f2303c;
  }
  &[data-cube^="3"] {
    top: calc(10vmin + #{$gap});
    --color-bg-top: #d7102a;
    --color-bg-bottom: #d9203d;
    --color-fl-top: #f2303c;
    --color-fl-bottom: #f5403c;
  }
  &[data-cube^="11"],
  &[data-cube^="21"],
  &[data-cube^="31"]{
    left: calc(-10vmin - #{$gap});
    --color-fr-top: darkred;
    --color-fr-bottom: darkred;
  }
  &[data-cube^="12"],
  &[data-cube^="22"],
  &[data-cube^="32"]{
    --color-fr-top: darkred;
    --color-fr-bottom: darkred;
  }
  &[data-cube^="13"],
  &[data-cube^="23"],
  &[data-cube^="33"]{
    left: calc(10vmin + #{$gap});
    --color-fr-top: darkred;
    --color-fr-bottom: darkred;
  }
  
  &[data-cube$="2"] {
    transform: translateZ(calc(10vmin + #{$gap}));
  }
  
  &[data-cube$="3"] {
    transform: translateZ(calc(-10vmin - #{$gap}));
  }
}


.large-shadows {
  transform: translateZ(-21vmin);
}
.large-shadow {
  background: black;
  height: 10vmin;
  width: 10vmin;
  transform-origin: top right;
  animation: large-shadow $duration infinite both;
  filter: var(--shadow-filter, blur(3vmin));
  opacity: 0.2;
  will-change: transform;
  
  @keyframes large-shadow {
    from, 80%, to {
      transform: scale(1.5, 3);
    }
    20% {
      transform: scale(1.5, 2);
    }
    40%, 60% {
      transform: scale(1.5, 5);
    }
    50% {
      transform: scale(1, 5);
    }
  }
}

[class^="cube-"] {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: visible;
  top: 0;
  left: 0;
  
  &, &:before {
    will-change: transform;
    animation: any $duration infinite both;
  }
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
  }
}

.cube-top {
  animation-name: cube-top;
  overflow: hidden;
  
  &:before, &:after {
    will-change: transform;
  }
  
  &:before {
    background-image:
      linear-gradient(to bottom, #CBFEFF,  transparent),
      linear-gradient(to bottom, var(--color-bg-top), var(--color-bg-bottom));
    background-size: 2px 100%, auto;
    background-repeat: no-repeat;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DFF4F0;
    animation: cube-top-flash $duration infinite both;
    
    @keyframes cube-top-flash {
      from, 50%, 60%, to {
        opacity: 0;
      }
      52% {
        opacity: 0.9;
      }
    }
  }
  
  @keyframes cube-top {
    20% {
      transform: translateZ(calc(-10vmin + 2vmin));
    }
    40%, 60%, 80% {
      transform: none;
    }
  }
}

.cube-front-left {
  transform-origin: left center;
  transform: rotateY(90deg);
  overflow: hidden;
  
  &:before {
    background-image:
      linear-gradient(to bottom, var(--color-fl-top), var(--color-fl-bottom)),
      linear-gradient(to bottom, rgba(white, .5), transparent 60%);
    background-size: auto auto 1px 100%;
    background-repeat: no-repeat;
    transform-origin: right;
    animation-name: cube-front-left;
    will-change: transform;
  }
  
  @keyframes cube-front-left {
    20% {
      transform: scaleX(.2);
    }
    40%, 60% {
      transform: translateX(-8vmin) scaleX(.2) ;
    }
    80% {
      transform: none;
    }
  }
}

.cube-front-right {
  transform-origin: bottom center;
  transform: rotateX(90deg);
  
  &:before {
    // background-color: #2C5060;
    background-image:
      linear-gradient(to right, var(--color-fr-top), var(--color-fr-bottom));
    transform-origin: top;
    animation-name: cube-front-right;
    will-change: transform;
  }
  
  @keyframes cube-front-right {
    20% {
      transform: scaleY(.2);
    }
    40%, 60% {
      transform: translateY(8vmin) scaleY(.2) ;
    }
    80% {
      transform: none;
    }
  }
}

.cube-bottom {
  transform: translateZ(-10vmin);
  background-image:
    linear-gradient(to bottom, var(--color-bg-top), var(--color-bg-bottom));
  animation-name: cube-bottom;
  
  @keyframes cube-bottom {
    from, 20%, 80%, to {
      transform: translateZ(calc(-10vmin + 1px)) scale(.95);
    }
    40%, 60% {
      transform: translateZ(-2vmin) scale(.95);
    }
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DFF4F0;
    animation: cube-bottom-flash $duration infinite both;
    will-change: transform;
    
    @keyframes cube-bottom-flash {
      from, 40%, 50%, to {
        opacity: 0;
      }
      45% {
        opacity: 0.9;
      }
    }
  }
}

[class^="shadow"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: var(--shadow-filter, blur(20px));
  
  &, &:before {
    will-change: transform;
  }
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #214354;
    opacity: 0.7;
  }
}

.shadow-y {
  animation: shadow-y $duration infinite both;
  
  &[data-cube^="11"],
  &[data-cube^="21"] {
    left: 10%;
  }
  &[data-cube^="13"],
  &[data-cube^="23"] {
    left: -10%;
  }
  
  @keyframes shadow-y {
    to, 40%, 60%, 80%, from {
      transform: translateY(-100%) scale(2, .75);
    }
    20% {
      transform: scale(2, 1);
    }
  }
  
  &:before {
    animation: shadow-y-inverse $duration infinite both;
    transform-origin: top center;
    
    @keyframes shadow-y-inverse {
      to, 40%, 60%, 80%, from {
        opacity: 0.9;
        transform: scale(2, 1)
      }
      20% {
        opacity: 0;
        transform: translateY(-100%) scale(2, .75);
      }
    }
  }
}

.shadow-flip {
  width: 2vmin;
  height: 50%;
  top: -1vmin;
  left: calc(50% - 1vmin);
  transform-origin: top center;
  filter: var(--shadow-filter, blur(1vmin));
  animation: shadow-flip $duration infinite both;
  overflow: visible;
  
  @keyframes shadow-flip {
    from, 20%, 40%, 50%, to {
      transform: rotate(90deg);
    }
    45% {
      transform: rotate(270deg);
    }
  }
  
  &:before {
    animation: shadow-flip-inverse $duration infinite both;
    transform-origin: top center;
    opacity: 0;
    
    @keyframes shadow-flip-inverse {
      from, 20%, 40%, 50%, to {
        transform: rotate(0deg);
        opacity: 0;
      }
      45% {
        transform: rotate(-180deg);
        opacity: 0.6;
      }
    }
  }
}

.shadow-z {
  animation: shadow-z $duration infinite both;
  overflow: visible;
  will-change: transform;
  transform-origin: top center;
  
  &[data-cube^="11"] {
    --shadow-z-left: 50%;
    --shadow-z-top: 50%;
  }
  &[data-cube^="21"],
  &[data-cube^="31"] {
    --shadow-z-left: 50%;
    --shadow-z-top: 0;
  }
  &[data-cube^="32"] {
    --shadow-z-left: 0;
    --shadow-z-top: 0;
    --shadow-x-scale: 2;
  }
  &[data-cube^="33"] {
    --shadow-z-left: -50%;
    --shadow-z-top: 0;
  }
  
  @keyframes shadow-z {
    from, 40%, 60%, 80%, to {
      transform: scale(var(--shadow-x-scale), 2);
    }
    20% {
      transform: translateX(var(--shadow-z-left)) translateY(var(--shadow-z-top)) scale(calc(var(--shadow-x-scale, 1) / 2), 2);
    }
  }
  
  &:before {
    animation: shadow-z-inverse $duration infinite both;
    
    @keyframes shadow-z-inverse {
      40%, 60% {
        transform: translateX(var(--shadow-z-left)) translateY(var(--shadow-z-top)) scale(var(--shadow-x-scale, 1), 2);
      }
      45% {
        opacity: 0;
      }
      from, 40%, 55% {
        opacity: .5;
      }
      to {
        opacity: 1;
      }
      from, 20%, 80%, to {
        transform: scale(2);
      }
    }
  }
}

@each $key in map-keys($delays) {
  .rubik-cube[data-cube="#{$key}"] > .cube-wrap {
    &, > [class^="cube-"] {
      &, &:before, &:after {
        animation-delay: map-get($delays, $key) * 1ms;
      }
    }
    [class^="shadow-"] {
      animation-delay: map-get($delays, $key) * 1ms;
    }
  }
  [class^="shadow-"][data-cube="#{$key}"]:before,
  .large-shadow[data-cube="#{$key}"] {
    animation-delay: map-get($delays, $key) * 1ms;
  }
}


/*****************************************************************
  ISO Cube Design Component
 *****************************************************************/

/*
#backdrop {
  width: 600px;
  color: #0f0;
  font-family: monospace;
  font-size: 24px;
  margin: 0 auto;
  -webkit-transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
  -ms-transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
  -moz-transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
  -o-transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
  transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
}

.iso-cube {
  position: absolute;
  top: 90px;
  left: 360px;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  overflow: hidden;
  font-family: monospace;
  font-size: 24px;
}


.top {
  top: 0;
  left: 86px;
  background: #fff;
  color: #999;
  -webkit-transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
  -ms-transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
  -moz-transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
  -o-transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
  transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
}

.left {
  top: 165px;
  left: 0;
  background: #999;
  color: #333;
  -webkit-transform: rotate(30deg) skewX(30deg) skewY(0deg);
  -ms-transform: rotate(30deg) skewX(30deg) skewY(0deg);
  -moz-transform: rotate(30deg) skewX(30deg) skewY(0deg);
  -o-transform: rotate(30deg) skewX(30deg) skewY(0deg);
  transform: rotate(30deg) skewX(30deg) skewY(0deg);
}

.right {
  top: 165px;
  left: 172px;
  background: #ccc;
  color: #666;
  -webkit-transform: rotate(-30deg) skewX(-30deg) skewY(0deg);
  -ms-transform: rotate(-30deg) skewX(-30deg) skewY(0deg);
  -moz-transform: rotate(-30deg) skewX(-30deg) skewY(0deg);
  -o-transform: rotate(-30deg) skewX(-30deg) skewY(0deg);
  transform: rotate(-30deg) skewX(-30deg) skewY(0deg);
}


.shadow {
  top: 330px;
  left: -86px;
  background: black;
  opacity: 0.5;
  -webkit-transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
  -ms-transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
  -moz-transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
  -o-transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
  transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
}

#two {
  -webkit-transform: scale(0.75) translate(320px, 400px);
  -moz-transform: scale(0.75) translate(320px, 400px);
  -o-transform: scale(0.75) translate(320px, 400px);
  -ms-transform: scale(0.75) translate(320px, 400px);
  transform: scale(0.75) translate(320px, 400px);
}
*/