@import 'vars';

.borderCircle {
  border-radius: 9999px;
}

.heroSpacing {
  margin: 0;
  padding: 100px 0;
}

.heroBg {
  background: 'linear-gradient(270deg, rgb(20, 14, 113) 0%, rgb(39, 31, 152) 50%, rgb(100,0,0) 100%)'
}

.heroSubtitle {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: .25rem;
  color: $light;
  z-index: 50;
}

.heroTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: .25rem;
  color: $primary;
  z-index: 50;
}